<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/burritos">Feed</a></li>
            <li><a href="/burritos/new">New</a></li>
            <li><a href="#">Log in</a></li>
            <li><a href="#">Register</a></li>
        </ul>
    </nav>
</header>