<%- layout('layouts/boilerplate.ejs')  %> 

<body>
    
    <h1 class="main-title">YEETOZ New</h1>
    <div class="feed-zone container">
        <form action="/burritos" method="POST" enctype="multipart/form-data">
            <div class="input-field">
                <div>
                    <label for="title">Title</label>
                </div>
                <div>
                    <input type="text" name="burrito[title]" id="title" required>
                </div>
            </div>
            
            <div class="input-field">
                <div>
                    <label for="image">Image</label>
                </div>
                <div>
                    <input type="file" name="image" id="image" accept="image/*" capture="camera" required>
                </div>
            </div>
            
            <div class="input-field">
                <div>
                    <label for="restaurant">Restaurant</label>
                </div>
                <div>
                    <input type="text" name="burrito[restaurant]" id="restaurant" required>
                </div>
            </div>
            
            <div class="input-field">
                <div>
                    <label for="location">Location</label>
                </div>
                <div>
                    <input type="text" name="burrito[location]" id="location" required>
                </div>
            </div>
            
            <div class="input-field">
                <div>
                    <label for="price">Price</label>
                </div>
                <div>
                    <input type="text" name="burrito[price]" id="price" required>
                </div>
            </div>
            
            <div class="input-field">
                <div>
                    <label for="description">Description</label>
                </div>
                <div>
                    <textarea name="burrito[description]" id="description" required></textarea>
                </div>
                
            </div>
            
            <div class="input-field">
                <label for="opinion">Opinion?</label>
                <select name="burrito[opinion]">
                    <option name="megusta" id="megusta">Me gusta</option>
                    <option name="nomegusta" id="nomegusta">YEET</option>
                </select>
            </div>
            
            <div>
                <button>Submit</button> 
            </div>
        </form>
    </div>
    
</body>