<%- layout('layouts/boilerplate.ejs')  %> 


<h1 class="main-title">YEETOZ</h1>
<h3 class="main-title">Tell me bout that burrito</h3>

<div class="feed-zone container">
    <% if(!currentUser) { %> 
    <a href="/users/login">Login</a>
    <a href="/users/register">Register</a>
    <% } %> 
</div>
